services:
  app:
    build:
      context: .
      dockerfile: Dockerfile.app
    volumes:
      - ./:/code
    ports:
      - 8000:8000
    depends_on:
      - elasticsearch

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.1
    environment:
      - bootstrap.memory_lock=true
      - cluster.name=docker-cluster
      - cluster.routing.allocation.disk.threshold_enabled=false
      - discovery.type=single-node
      - ES_JAVA_OPTS=-XX:UseAVX=2 -Xms1g -Xmx1g
      - xpack.security.enabled=false
    ulimits:
      memlock:
        hard: -1
        soft: -1
    volumes:
      - esdata:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - elastic
    healthcheck:
      interval: 30s
      retries: 10
      test: ["CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -vq '\"status\":\"red\"'"]

  kibana:
    image: docker.elastic.co/kibana/kibana:8.14.1
    depends_on:
      elasticsearch:
        condition: service_healthy
      app:
        condition: service_started
    environment:
      - ELASTICSEARCH_URL=http://elasticsearch:9200
      - ELASTICSEARCH_HOSTS=http://elasticsearch:9200
    ports:
      - 5601:5601
    networks:
      - elastic
    healthcheck:
      interval: 30s
      retries: 20
      test: ["CMD-SHELL", "curl --write-out 'HTTP %{http_code}' --fail --silent --output /dev/null http://localhost:5601/api/status"]
  

volumes:
  esdata:
    driver: local

networks:
  elastic:
    driver: bridge
